.homepage {
  height: 100vh; //keep the background at 100% height
}

.homepage__background-img {
  position: absolute;
  height: 100%;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  z-index: -1;
}

.homepage__header {
  text-align: left;
  z-index: 100;
  font-size: 1rem;
  color: $off-white;
  width: 100%;
  background: $dark-black;
  opacity: 0.9;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  padding: 1em 0;
}

.homepage__headercontainer {
  position: relative;
  width: 72%;
  margin: 0 auto;
}

.homepage__headertitle {
  font-size: calc(3.5em + 3vw);
  font-weight: 200;
  padding: 0 1vw;
}

.homepage__headertitle1 {
  text-align: left;
}

.homepage__headertitle2 {
  text-align: right;
}

.homepage__headersubtitle {
  font-weight: 200;
  font-size: calc(0.5em + 2vw);
  text-align: center;
  margin: 1em 0;
}

.homepage__main-btn {
  display: block;
  font-size: 1.4em;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 767px) {
  .homepage__header {
    width: 55%;
    right: 5%;
    position: absolute;
    background: none;
  }
}

@media only screen and (min-width: 991px) {
}

@media only screen and (min-width: 1200px) {
}
