.homepage{
    text-align: center;
    width: 100%;

}

.homepage__background-img{
    // width: 100vw;
    // width: 100%;
    height: 100vh;

}

.homepage header {
    padding: 2vw;
    
}

.homepage h4{
    padding: 1vw;
    
}