@import '../../../base-styles/partials/colors';

.contactform {
    width:100%;
    padding:1em;
    text-align: center;
    max-width: 767px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contactform .title,
.contactform .description {
    margin-bottom: 1em;
}

.contactform form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contactform form div {
border:none;
width:100%;
margin: 0.5em 0;
padding: 0;
}

.contactform form div input,
.contactform form div textarea {
    width: 100%;
    padding: 0.75em;
    padding-left: 1.25em;
    background: none;
    border: white solid 1px;
    box-sizing: border-box;
    color:white;
    resize: none;
}

.contactform form div input::placeholder,
.contactform form div textarea::placeholder {
color: white;
}
.contactform form div input {

   
}

.contactform button {
    display:block;
    background: $brand-color;
    padding: 0.5em 1em;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    width: 50%;
    margin: 0 auto;
    transform: translateY(-100%);
    max-width: 400px;
    box-shadow: 1px 2px 3px grey;
}
