@import '../../base-styles/partials/colors';

.LoadingPage{
    background: $brand-color;
    color: $off-white;
    height: 100vh;
    width: 100%;
    font-size: 2em;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
  }

.LoadingPage__container {
  display: flex;
  align-items: center;
  justify-content: center;
}