.sociallogos {
  position: absolute;
  bottom: 1%;
  z-index: 150;
}

.sociallogos__logo {
  width: 2rem;
  height: 2rem;
  padding: 0.5em;
  margin: 0 0.25em;
//   border: solid 1px $off-white;
  border-radius: 0.5em;
}

.sociallogos__logo:hover {
  background: #2a7855;
}
