// =================================
// ===== Mobile Styling ============
// =================================

// =============================
// ===== Overall Container =====
// =============================

.portfolio {
  overflow: hidden;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  top: 0vh;
}

// Hides Logos on Portfolio Page
.portfolio ~ .sociallogos {
  display: none;
}

// this is the block that contains the project that is displayed
// scrolling is activated by overflow auto;
.portfolio_block-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  box-sizing: border-box;
  height: calc(var(--vh, 1vh) * 90);
  overflow: auto;
}

// ==========================
// ===== Project Header =====
// ==========================

.portfolio_block-container header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
//   align items vertically centers buttons on mobile.
  align-items: center;
  text-align: center;
  justify-content: center;
}

.portfolio_block-container header h2 {
  font-size: 2em;
  color: $lightbrand-color;
  font-weight: 200;
  margin: 0.25em 0;
}

.portfolio_block-container header h3 {
  font-size: 1.1em;
  font-weight: 200;
  margin: 0.25em 0;
  color: $off-white;
}

.portfolio__project-buttons {
  width: 100%;
  margin: 1em 0;
  text-align: center;
}

.portfolio__project-buttons .main-btn {
  font-size: 1.1em;
  margin: 0 0.5em;
  width: 40%;
}

// =============================
// === Project Content Block ===
// =============================

.portfolio__projectImg img {
  width: 100%;
  margin: 1em 0;
}

// Stack logos hides the overflow
.portfolio__stacklogo-container {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0.5em;
}

.portfolio__stacklogo-scroll {
  overflow: auto;
  display: flex;
}

.portfolio__stacklogo-container img {
  height: 35px;
  padding: 0 0.5em 1em;
}

.portfolio__projectCopy {
  width: 100%;
}

.portfolio__projectCopy h1,
.portfolio__projectCopy h2, 
.portfolio__projectCopy h3,
.portfolio__projectCopy h4,
.portfolio__projectCopy h5,
.portfolio__projectCopy h6 {
    color: $lightbrand-color;
    margin: 0 0 1.25em;
  }

.portfolio__projectCopy p, ul {
    margin: 0 0 1.25em;
}

// if any lists are included it keys the bullets 
// on the inside rather than out.
.portfolio__projectCopy ul {
  list-style: inside;
}
// =============================
// ===== Portfolio Banners =====
// =============================

.portfolio__banners {
  height: calc(var(--vh, 1vh) * 10);
  display: flex;
  overflow: auto;
  border-top: 2px $brand-color solid;
  padding: 0.1em 0;
  box-sizing: border-box;
}

.portfolio__banner {
    height: 100%;
}

.portfolio__banners img {
  height: 100%;
}

// ===== Desktop Styling =====

@media only screen and (min-width: 767px) {
  .portfolio {
    top: 7.5vh;
    height: 92.5vh;
  }

  // === Project Header ===

  .portfolio_block-container {
    height: 80vh;
  }
  .portfolio_block-container header {
    text-align: unset;
  }

  .portfolio__project-buttons {
    width: 45%;
    margin: 0 0 0 auto;
    text-align: right;
  }

  .portfolio__project-buttons .main-btn {
    font-size: 1.1em;
  }

  // === Project Content Block ===

  .portfolio__projects {
    height: 12.5vh;
  }

  .portfolio__projectImg {
    width: 100%;
  }

  .portfolio_block-container {
  }

  .portfolio__projectCopy {
  }

  //   Portfolio Banners

  .portfolio__banners {
    height: 12.5vh;
  }
}
