@import "../../base-styles/partials/colors";

// =============================
// ===== Overall Container =====
// =============================

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 3em;
  max-width: 1400px;
}

.portfolioHeader {
  width: 100%;
  text-align: center;
}

.headerCopy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(4px + 1.4vw);
  padding: 3em 0 0;
  width: 100%;
}

.portfolioHeader h1 {
  width: 100%;
  font-size: 3em;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 4px solid #ffb300;
  width: 100%;
  margin: 0 2em 0.2em;
  box-sizing: content-box;
}
.portfolioHeader h4 {
  font-size: 1em;
  font-weight: 300;
}

// =============================
// ===== Portfolio Banners =====
// =============================

.projectBanners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  width: 100%;
  grid-gap: 10px;
  margin: 10px 0px;
  padding: 2em 0.5em;
  // grid-auto-flow: dense;
}

.projectBanner {
  // box-shadow: 0px 0px 5px 2px black;
  transition: all ease-in-out 0.3s;
  // border-radius: 10px;
  &:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px black;
    transform: scale(1.1);
    z-index: 300;
  }
}

// .projectBanner:nth-child(even){
//   grid-column: span 2;
//   grid-row: span 2;
// }
// .projectBanner:nth-child(odd){
//   grid-row: span 1;
//   grid-column:1;
// }

.projectBanners img {
  width: 100%;
  // height: 100%;
  display: block;
}

@media (min-width: 1400px) {
  .headerCopy {
    font-size: 25.6px;
    max-width: 1800px;
    margin: 0 auto;
  }
}
