@import "../../base-styles/partials/colors";


// ==========================
// ===== Project Header =====
// ==========================

.project{
    padding: 0 1em;
    box-sizing: border-box;
    width: 100%;
}

.projectHeading {
    width: 30%;
    margin: 0 auto;
    border-bottom: 1px solid white;
    text-align: center;
}

.project header {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
}

.headerContent {
    width: 100%;

}

.projectImg img{
    width: 100%;
}

.headerCopy {
    font-size: 16px;
}

.projectTitle {
    font-size: 2.5em;
    margin: 0.5em 0;
    font-family: 'Raleway', sans-serif;
}

.projectSubtitle {
    font-size: 1em;
    margin: 0.5em 0;
}


.projectBtn {
    padding: 0.5em 1em;
    margin: 1em 0.5em 1em 0;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    &:hover{
       background: $darkbrand-color
    }
}


.projectDetails {

}

.projectDetails h3 {
    margin: 1em 0;
    
}

.stackLogo {
    margin: 0 0.5em;
    height: 40px;
}

.projectDescription ul,
.projectDescription ol  {
    list-style-position: inside;
}

.projectDescription h1,
.projectDescription h2,
.projectDescription h3,
.projectDescription h4,
.projectDescription h5,
.projectDescription h6,
.projectDescription img {
    margin: 1em 0;
}

.projectDescription h2 {
    color: $brand-color;
    text-decoration: underline;
    // text-transform: uppercase;
}

.projectDescription p {
    line-height: 1.5;
    margin: 0.75em 0;
}

.projectDescription li,
.projectDescription ul {
    line-height: 1.5;
    list-style: inside;
    margin: 0.75em 0;
    padding-left: 0.5em;
}

.projectDescription li > p {
    display: inline;
}

.projectDescription a {
    color:$lightbrand-color;
    font-weight: 700;
}

.projectDescription img,
.projectDescription table {
    width: 100%;
}


@media (min-width:767px) {
    .project header {
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
    }

    .projectHeading {
       text-align: left;
       margin: 1em 0;

    }

    .projectTitle {
        
    }

    .headerContent {
        width: 40%;
        order:2;
        position: relative;
    }

    .headerCopyInner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        padding: 0 5% 0 15%;
        box-sizing: border-box;
    }

    .projectBtns {
        display: flex;
        margin: 1.5em 1em 2em 0;
    }

    .projectImg {
        order:1;
        width: 60%;
    }



}

// =============================
// === Project Content Block ===
// =============================
