@import "../../base-styles/partials/colors";

// ==========================
// ===== Project Header =====
// ==========================

.project {
  box-sizing: border-box;
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 1em;

  > div {
    width: 100%;
  }
}

.projectTitle {
  font-size: 2.5em;
  margin: 16px 0;
  font-family: "Raleway", sans-serif;
}

.projectSubtitle {
  font-size: 1.2em;
  margin: 16px 0;
}

.seperator {
  width: 3em;
  height: 0.3em;
  display: inline-block;
  background: $brand-color;
}


.projectBtns {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.projectBtn {
  padding: 0.5em 0.75em;
  margin: 0 0.5em;
  font-size: 0.9em;
  border-radius: 5px;
  font-weight: 600;
  &:hover {
    background: $darkbrand-color;
  }
}

.projectImg img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 1px 1px 7px 1px black;
}

.projectDetails {
  padding: 0 1em;
}

.projectDetails h3 {
  margin: 1em 0;
}

.stackLogo {
  margin: 0 0.5em;
  height: 40px;
}

.projectDescription ul,
.projectDescription ol {
  list-style-position: inside;
}

.projectDescription h1,
.projectDescription h2,
.projectDescription h3,
.projectDescription h4,
.projectDescription h5,
.projectDescription h6,
.projectDescription img {
  margin: 1em 0;
}

.projectDescription h2 {
  color: $brand-color;
  text-decoration: underline;
  // text-transform: uppercase;
}

.projectDescription p {
  line-height: 1.5;
  margin: 0.75em 0;
}

.projectDescription li,
.projectDescription ul {
  line-height: 1.5;
  list-style: inside;
  margin: 0.75em 0;
  padding-left: 0.5em;
}

.projectDescription li > p {
  display: inline;
}

.projectDescription a {
  color: $lightbrand-color;
  font-weight: 700;
}

.projectDescription img,
.projectDescription table {
  width: 100%;
}

@media (min-width: 767px) {
  .project header {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
  }

  .header {

    .projectBtns {
      display: flex;
      width: 25%;
      flex-wrap: wrap;
      justify-content: flex-end;

      .projectBtn {
        margin: 0.5em;
      }
    }
  }
  .projectImg img {
    border-radius: 1em;
  }
}

// =============================
// === Project Content Block ===
// =============================
