@import "../../base-styles/partials/colors";
@import "../../base-styles/partials/buttons";

.about {
    position: relative;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 15vw;
    left: 60%;
    background: black;
    padding: 1em;
}

.title,
.details h4,
.about p,
.about hr {
    margin-bottom: 1em;
}

.imagecontainer {
    position: relative;
    right: 20%;
    margin-bottom: 1em;
}

.imagecontainer img {
    width: 100%; 
    // transform: scaleX(-1);
    border-radius: 10%;
}

.details h4 {
    padding-bottom: 0.5em;
    border-bottom: white 0.5px solid;
}
.details a{
    font-weight: bold;
}


@media only screen and (min-width: 767px) {

    .about {
        display: flex;
        flex-wrap: wrap;
    }
    .title {
        position: unset;
        background: unset;
        text-align: left;
        padding: unset;
        color: $brand-color;
    }

    .details p a {
        &:hover {
            color: $brand-color;
            text-decoration: underline;
        }
    }

    .details,
    .imagecontainer {
        width: 50%;
    }

    .imagecontainer {
        right: 8%;
    }

    .imagecontainer img {
        height: 100%;
        object-fit: cover;
    }

}



// ============================================
// ===========   Media Queries   ==============
// ============================================



@media only screen and (min-width: 767px) {

    .introContainer {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }

}