// =====  Navigation Styles =====

.nav__nav-menu li {
  // removes all bullet points in nav menus
  list-style: none;
  font-size: 1.5rem;
}
.nav {
  width: 60%;
  height: 100vh;
  background: $light-black;
  position: absolute;
  z-index: 150;
  left: -80%;
  transition: all ease-in-out 0.5s;
}


.nav__nav-menu a {
  text-decoration: none;
  // removes visited color change.
  &:visited {
    color: unset;
  }
}

.nav__nav-icon svg {
  // Spin Animation for the Nav Logo
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: element-spin infinite 30s;
          animation: element-spin infinite 30s;
}

.nav__nav-item {
  padding: 0.6em;
  color: $off-white;
}

.nav__currentNavPage {
  border-bottom: solid 2px $brand-color;
}

.nav__nav-icon svg {
  width: 100px;
  height: 100px;
  padding: 0.6em;
}

.nav__hamburger {
position: absolute;
right: 2%;
top: 2%;
}

.nav__hamburger svg {
background: #345B57;
border-radius: 67px;
padding: 5px;
}


@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {
  .nav {
      width: 100%;
    background: unset;
    // display: block;
    left: unset;
  }

  .nav__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .nav__nav-icon {
    position: absolute;
    top: 2%;
    left: 2%;
  }

  .nav__nav-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__hamburger {
      display: none;

  }

}

@media only screen and (min-width: 1200px) {
}
