@import "../../base-styles/partials/colors";

// =====  Navigation Styles =====

.navMenu li {
  // removes all bullet points in nav menus
  list-style: none;
  font-size: 1.5rem;
}

.nav {
  width: 60%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: $light-black;
  position: relative;
  z-index: 150;
  // left: -80%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.opaqueBlock{
  background: black;
  opacity: 0.7;
  width: 100vw;
  display: none;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 104;
}

.navMenu {
  display: inline-block;
}

.navMenu a {
  text-decoration: none;
  // removes visited color change.
  &:visited {
    color: unset;
  }
}

.navItem {
  padding: 0.6em;
  color: $off-white;
}

.currentNavPage {
  border-bottom: solid 2px $lightbrand-color;
}

.navIcon svg {
  width: 70px;
  height: 70px;
  padding: 0.6em;
}

.hamburger {
position: absolute;
right: 1%;
top: 1%;
z-index: 150;
}

.hamburger svg {
background: #345B57;
border-radius: 67px;
padding: 5px;
}


@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 767px) {
  .nav {
      width: 100%;
    background: unset;
    height: unset;
    position: unset;
    display: flex;
    left: unset;
    position: absolute;
  }

  .navMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }

  .navIcon {
    z-index: 1000;
  }

  .navItem {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hamburger {
      display: none;

  }

}

@media only screen and (min-width: 1200px) {
}
