.techStackContainer {
    margin: 1em 0;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.stacklogoslink {
    &:hover .stackLogos{
        transition: all ease-in-out 0.4s;
        transform: scale(1.15);
    }
}

.techStackContainer .stackLogos {
    height: 40px;
    margin: 0.5em;
}

.techStackContainer .stackLogos svg {
    margin: 0 0.3em;
}