@import "../../../base-styles/partials/colors";

.backArrow {
  position: absolute;
  top: 12px;
  left: 5px;
}

// ============================================
// ==========  Career History   ===============
// ============================================
.careerHistory {
  padding: 0 1em;
  max-width: 767px;
  margin: 0 auto;
  position: relative;
}

.careerHistoryTitle {
  text-align: center;
  font-weight: 200;
  margin: 1em 0;
}

.careerEntry {
  position: relative;
  border-left: 1px solid $brand-color;
  padding-left: 10px;
}

.careerEntryNode {
  height: 20px;
  width: 20px;
  background-color: $brand-color;
  border-radius: 30px;
  position: absolute;
  box-shadow: 1px 1px 2px 4px rgb(26, 26, 26);
}

.nodeTop {
  top: -10px;
  left: -10px;
}

.careerCompany {
  color: $lightbrand-color;
  font-weight: 300;
  font-size: 1.3em;
  padding-top: 10px;
}

.careerEntry h4 {
  margin: 0.2em 0;
}

.jobTitle {
  letter-spacing: 1px;
}

.careerLocation,
.careerDates {
  font-weight: 100;
}

.companyLogo {
  float: right;
  max-width: 100px;
  margin: 1em 0.5em;
}

.careerDescription {
  margin: 0.5em 0;
  overflow: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  p {
    margin-bottom: 1em;
  }
}

.careerEntryBtn {
  padding: 0.5em 1.5em;
  margin: 1.25em 0;
  font-size: 0.8em;
  background-color: $darkbrand-color;
  color: white;
  opacity: 0.9;
  box-shadow: 1px 1px 2px 1px rgb(26, 26, 26);
  &:hover {
    background-color: $darkbrand-color;
  }
}

.careerEntry hr {
  border-width: 0.5px;
  margin: 0;
}

@media only screen and (min-width: 767px) {
  .careerHistoryTitle {
    margin: 0 auto 0.75em;
  }
}
