@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

$primaryFont:  'Montserrat', sans-serif;
$secondFont: 'Roboto', sans-serif;
$tertiary:'Raleway', sans-serif;
$handwriting:'Shadows Into Light', cursive;



// =======  Font Styles  ========

// font-family: 'Montserrat', sans-serif;
// Very Popular modern font

// font-family: 'Roboto', sans-serif;
// Very generic Material UI Google Font

// font-family: 'Raleway', sans-serif;
// Thin elegant font;

// font-family: 'Shadows Into Light', cursive;
// Shadows Into the night is a Handwriting font
