@import "../../base-styles/partials/colors";
@import "../../base-styles/partials/fonts";

.blogPost {
    max-width: 768px;
    margin: 0 auto;
    padding: 0.5em;
    overflow-x: hidden;
}

.blogTitle {
    width: 85%;
    margin: 0 0 0.5em;
    color: $brand-color;
    font-family: $primaryFont;
}

.blogDescription {
    margin: 1em 0;
    color: $lightgrey;
    font-family: $tertiary;
    font-weight: 800;
}

.blogWidget {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.authorImage {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 3px solid $brand-color;
    padding: 3px;
}

.widgetCopy {
    padding: 0 0 0 0.5em;
}

.website:hover {
    text-decoration: underline;

}

.categoryLabels {
    display: flex;
    margin: 1em 0;
}

.CategoryLabel {
    background: $brand-color;
    padding: 0.5em 1em;
    color: $dark-black;
    margin: 0 1em 0 0;
    font-size: 0.75em;
}

.mainImage {
    width: 100%;
}

.blogContent h1,
.blogContent h2,
.blogContent h3,
.blogContent h4,
.blogContent h5,
.blogContent h6,
.blogContent img {
    margin: 1em 0;
}

.blogContent h2 {
    color: $brand-color;
    text-decoration: underline;
    // text-transform: uppercase;
}

.blogContent p {
    line-height: 1.5;
    font-size: 1.1em;
    margin: 0.75em 0;
}

.blogContent li,
.blogContent ul {
    line-height: 1.5;
    font-size: 1.1em;
    list-style: inside;
    margin: 0.75em 0;
    padding-left: 0.5em;
}

.blogContent li > p {
    display: inline;
}

.blogContent a {
    color:$lightbrand-color;
    font-weight: 700;
}

.blogContent img,
.blogContent table {
    width: 100%;
}

.blogContent th,
.blogContent td {
    font-size: calc(0.2em + 1.4vw);
    text-align: center;
    border: solid 1px;
    padding: 0.5em 0.1em;
}

@media only screen and (min-width:767px) {

    .blogContent th,
    .blogContent td {
        font-size: 1em;
    }

}