// =====  Application SCSS  =====

// All Scss Partial Files Combine in here.
// All Styling Variables and Colors Must be imported First

// Styling Variables
@import "./base-styles/partials/colors";
@import "./base-styles/partials/fonts";
@import "./base-styles/partials/keyframes";
@import "./base-styles/partials/sizes";
@import "./base-styles/partials/buttons";
@import "./base-styles/partials/singleuse";


// Pages
@import "./components/Navigation/Navigation";
@import "./components/Homepage/Homepage";
@import "./components/About/About";
@import "./components/Portfolio/Portfolio";
@import "./components/Blog/Blog";
@import "./components/Contact/Contact";
@import "./components/NotFound/NotFound";


// Components
@import "./components/SocialLogos/SocialLogos";
@import "./components/StackLogos/stacklogos";

.App {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; 
  width: 100%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  min-height: 500px;
  color: white;
}

.App-logo {
  -webkit-animation: element-spin infinite 20s linear;
          animation: element-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.loadingpage{
  background: red;
}
.loadingpage__loadingmessage {
  color: black;
}