@import "./base-styles/partials/fonts";
@import "./base-styles/partials/colors";
@import "./base-styles/partials/keyframes";
@import "./base-styles/partials/sizes";

body {
    margin: 0;
    font-family: $primaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $dark-black;
}

// hard css reset 
* {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a,
a:-webkit-any-link {
  // removes hyperlink blue color and underline;
    color: unset;
    text-decoration: none;
}

button{
    border: none;
    background: $brand-color;
    color: white;
}