@import "./base-styles/partials/fonts";
@import "./base-styles/partials/colors";
@import "./base-styles/partials/keyframes";
@import "./base-styles/partials/sizes";

body {
  margin: 0;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; 
  overflow-x: hidden;
  position: relative; 
  overflow-y: hidden;
  background: $dark-black;

}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: unset;
  text-decoration: none;
}

a:-webkit-any-link {
  color: unset;
  text-decoration: none;
}